.App {
  padding: 2em;
  display: grid;
  grid-template-rows: [input] auto [email] 1fr;
  gap: 1em;
  justify-content: center;
}

.Input {
  display: flex;
  gap: 1em;
}

input {
  flex-grow: 1;
  padding: 0.5em;
  border: 2px solid var(--color-accent);
  outline: 0;
}

input:focus {
  border-color: fuchsia;
}

h2 {
  user-select: all;
}