body {
	--color-accent: purple;

	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	accent-color: var(--color-accent);
	background-color: #111;
	color: #eee;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	min-height: 100vh;
	text-align: center;
}

* {
	margin: 0;
	outline: none;
}

main {
	padding: 2em;
	display: grid;
	grid-template-rows: [input] auto [email] 1fr;
	gap: 1em;
	justify-content: center;
}

.input {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	margin-bottom: 1em;
}

input,
select {
	border: 2px solid grey;
	border-radius: 0.4em;
	flex-grow: 1;
	padding: 0.5em;
}

input:focus,
select:focus-visible {
	border-color: var(--color-accent);
}

h2 {
	user-select: all;
	word-wrap: anywhere;
}

h2::selection {
	background-color: var(--color-accent);
}
